[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
click = "*"
pycryptodome = "*"
PyYAML = "*"

[requires]
python_version = "3.9"

[scripts]
e3 = "python e3.py"
e3pp = "python e3pp.py"
